.post {
    display: block;
    background: purple;

    width: 20vw;
    height: 30vh;
    margin: 1vw;
    padding: 1vw;

    overflow-x: auto;
}

.header {
    font-size: 1.8em;
    margin: 5vh 1vw 0 ;
}

.title {
    font-size: 1.4em;
}
